<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>corporate</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/corporate.css">



</head>

<body>

    <div class="sidebar">
        <div class="logo">
            <img src="../img/logo.png" alt="Wizick">
        </div>
        <ul class="side-menu top">
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/home.png" alt=""></i>
                    <div>Home</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/dashboard.png" alt=""></i>
                    <div>Dashboard</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/icon-park-outline_category-management.png" alt=""></i>
                    <div>Document Manager</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/akar-icons_edit.png" alt=""></i>
                    <div> DocumentEditor</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/library.png" alt=""></i>
                    <div> Clause Library</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/heroicons-outline_template.png" alt=""></i>
                    <div>Template</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/gg_insights.png" alt=""></i>
                    <div> Insight</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/legal.png" alt=""></i>
                    <div> Legal Terminology</div>
                </a>
            </li>

            <hr>

            <li class="username">
                <a href="#">
                    <img src="../img/nodp.png" class="display-pic" alt="">
                    <div>Wizick User</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/Notification.png" alt=""></i>
                    <div> Notification <span class="notify">2</span></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/logout.png" alt=""></i>
                    <div> Log out</div>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <i><img class="icon menu" src="../img/icon/align-left.png" alt=""></i>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode">
                <i><img src="../img/icon/sun.png" alt=""></i>
                <i><img class="moon" src="../img/icon/moon.png" alt=""></i>
            </label>
        </div>

        <!-- CORPORATE TEMPLATES STARTS -->
        <div class="in-active-8">
           <img src="../img/DOCUMENT_ICONIII.png" class="document-img-corporate" alt="">
           <section class="corporate">
               <div class="inner-sect">
                   <button class="btn-community" id="corporate-comm">Community</button><button
                       class="btn-template" id="corporate-temp">Template</button>
               </div>
               <div class="inner-sect">
                   <form class="search-bar" action="#">
                       <input type="text" placeholder="Search for documents" name="search">
                       <i class="icon"><img src="../img/icon/search.png" alt=""></i>
                   </form>
               </div>
               <div class="inner-sect">
                   <h3>CORPORATE AGREEMENT</h3>
               </div>
               <div class="inner-sect">
                   <div class="item">
                       <i><img src="../img/icon/DOCUMENT_ICON.png" alt=""></i>
                       <p>JOINT VENTURE AGREEMENT</p>
                       <button class="btn-delete">Delete</button>
                   </div>
                   <div class="item" id="sd-agreement">
                       <i><img src="../img/icon/DOCUMENT_ICON.png" alt=""></i>
                       <p>SOFTWARE DEVELOPMENT AGREEMENT</p>
                       <button class="btn-delete">Delete</button>
                   </div>
                   <div class="item">
                       <i><img src="../img/icon/DOCUMENT_ICON.png" alt=""></i>
                       <p>OPERATING AGREEMENT FOR A LIMITED LIABILITY COMPANY</p>
                       <button class="btn-delete">Delete</button>
                   </div>
                   <div class="item">
                       <i><img src="../img/icon/DOCUMENT_ICON.png" alt=""></i>
                       <p>NEW ONE</p>
                       <button class="btn-delete">Delete</button>
                   </div>
               </div>
           </section>
       </div>
       <!-- CORPORATE TEMPLATES ENDS -->
    </div>



    <script src="../js/script.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>