<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mytemplate</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mytemplate.css">



</head>

<body>

    <div class="sidebar">
        <div class="logo">
            <img src="../img/logo.png" alt="Wizick">
        </div>
        <ul class="side-menu top">
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/home.png" alt=""></i>
                    <div>Home</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/dashboard.png" alt=""></i>
                    <div>Dashboard</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/icon-park-outline_category-management.png" alt=""></i>
                    <div>Document Manager</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/akar-icons_edit.png" alt=""></i>
                    <div> DocumentEditor</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/library.png" alt=""></i>
                    <div> Clause Library</div>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <i> <img class="icon" src="../img/icon/heroicons-outline_template.png" alt=""></i>
                    <div>Template</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/gg_insights.png" alt=""></i>
                    <div> Insight</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/legal.png" alt=""></i>
                    <div> Legal Terminology</div>
                </a>
            </li>

            <hr>

            <li class="username">
                <a href="#">
                    <img src="../img/nodp.png" class="display-pic" alt="">
                    <div>Wizick User</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i><img class="icon" src="../img/icon/Notification.png" alt=""></i>
                    <div> Notification <span class="notify">2</span></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i> <img class="icon" src="../img/icon/logout.png" alt=""></i>
                    <div> Log out</div>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <i><img class="icon menu" src="../img/icon/align-left.png" alt=""></i>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode">
                <i><img src="../img/icon/sun.png" alt=""></i>
                <i><img class="moon" src="../img/icon/moon.png" alt=""></i>
            </label>
        </div>

        <!--********* My Template Section Starts  *******-->
        <div class="in-active-5">
            <img src="../img/group77.png" class="temp-document-img" alt="">
            <section class="my-template">
                <div class="btn-section">
                    <button class="btn-community" id="btn-my-community">Community</button>
                    <button class="btn-template active" id="btn-my-template">Template</button>
                    <!-- <button class="btn-new-template" id="btn-new-template">Create New Template</button> -->
                </div>
                <div class="inner-sect">
                    <form class="search-bar">
                        <input type="text" placeholder="Search for documents" id="file-search-myTemp" name="search">
                        <i class="icon"><img src="../img/icon/search.png" alt=""></i>
                    </form>
                </div>
                <div class="title">
                    <h2>Surf through <br><span>Community Documents</span></h2>
                </div>

                <div class="btn-nav">
                    <button><img class="icon" id="btn-temp-left" src="../img/icon/union-back.png" alt=""></button>
                    <span>Categories</span>
                    <button><img class="icon" id="btn-temp-right" src="../img/icon/union-forward.png" alt=""></button>
                </div>
                <div id="cards" class="mytemp-cards">
                    <a href="#" class="card-1 btn-corporate">
                        <div>
                            <img class="temp-icon" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>Corporate Agreement</p>
                        </div>
                    </a>
                    <a href="#" class="card-1 a-second">
                        <div>
                            <img class="temp-icon img-2" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>Company</p>
                        </div>
                    </a>
                    <a href="#" class="card-1">
                        <div>
                            <img class="temp-icon img-3" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>Jv</p>
                        </div>
                    </a>
                    <a href="#" class="card-1">
                        <div>
                            <img class="temp-icon img-3" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>Jaso</p>
                        </div>
                    </a>
                    <a href="#" class="card-1">
                        <div>
                            <img class="temp-icon" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>My Estate Agreement</p>
                        </div>
                    </a>
                    <a href="#" class="card-1">
                        <div>
                            <img class="temp-icon img-2" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>Employee Contract Agreement</p>
                        </div>
                    </a>
                    <a href="#" class="card-1">
                        <div>
                            <img class="temp-icon img-3" src="../img/icon/folder.png" alt="homeimage" srcset="">
                            <p>Contract Agreement Jaso</p>
                        </div>
                    </a>
                </div>

            </section>


        </div>
        <!-- My Template Section Ends  -->


    </div>




    <script>

        //  My-Template Slider
        let right2Nav = [...document.querySelectorAll("#btn-temp-right")];
        let left2Nav = [...document.querySelectorAll("#btn-temp-left")];
        let tempCardsNav = [...document.querySelectorAll(".mytemp-cards")];

        tempCardsNav.forEach((item2, k) => {

            let containerDimensionsTemp = item2.getBoundingClientRect();
            let containerWidthTemp = containerDimensionsTemp.width;

            right2Nav[k].addEventListener('click', () => {
                item2.scrollLeft += containerWidthTemp;
            });
            left2Nav[k].addEventListener('click', () => {
                item2.scrollLeft -= containerWidthTemp;
            });
        });


    </script>


    <script src="../js/script.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>